# package directories
node_modules
jspm_packages

# Serverless directories
.serverless
.build

# Environment variables.
.env.production
.env.development
.env.*.local

# Indicator files.
csv_indicators/*.csv